/*
 * Created by Emily Wilson on 4/12/2020
 * Last Modified by Emily Wilson at 10:57pm on 4/12/2020
 */

#num1,
#num2 {
  padding: 10px;
  font-family: sans-serif;
  font-size: large;
  border: none;
  background-color: #f6f6f6;
  margin: 2px;
  width: 100px;
}

#answer {
  width: 200px;
  padding: 10px;
  margin: 2px;
  font-family: sans-serif;
  font-size: large;
  border: none;
}
